/**
 * This is the main scss file for the project.
 */
@use 'reset';

html,
body,
#app {
  width: 100%;
  height: 100%;
}

// Override the default element-plus styles
.el-menu-item.is-active {
  background: #41b883 !important;
  margin: 4px;
  border-radius: 8px;
}
